org: gabrielfrisancho
service: pardos-restaurante

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  memorySize: 256
  timeout: 29
  iam:
    role: arn:aws:iam::213965374161:role/LabRole
  environment:
    ORDERS_TABLE: pardos-restaurante-orders
    STEPS_TABLE: pardos-restaurante-steps

functions:
  iniciarOrquestacion:
    handler: orquestador/handler.iniciar_orquestacion
    events:
      - eventBridge:
          pattern:
            source:
              - cliente-ms
            detail-type:
              - OrderCreated

  iniciarEtapa:
    handler: etapas/handler.iniciar_etapa
    events:
      - http:
          path: /etapas/iniciar
          method: post
          cors: true
          integration: lambda

  completarEtapa:
    handler: etapas/handler.completar_etapa
    events:
      - http:
          path: /etapas/completar
          method: post
          cors: true
          integration: lambda

  obtenerResumen:
    handler: dashboard/handler.obtener_resumen
    events:
      - http:
          path: /dashboard/resumen
          method: get
          cors: true
          integration: lambda

  obtenerMetricas:
    handler: dashboard/handler.obtener_metricas
    events:
      - http:
          path: /dashboard/metricas
          method: get
          cors: true
          integration: lambda

  obtenerPedidos:
    handler: dashboard/handler.obtener_pedidos
    events:
      - http:
          path: /dashboard/pedidos
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: pardos-restaurante-orders
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    StepsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: pardos-restaurante-steps
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
